.navbar{
  justify-content: space-between;
}
span{
  padding-right: 1rem;
  cursor: pointer;
}
.margin{
  margin-top: 2em;
  margin-bottom: 2em;
}
p{
  font-size: 1.5em;
  font-weight: 400;
  padding: 1em;
  text-align: center;
  color: #fff;
  background-color: orange !important;
}
